<html>

<body>
    <%-include('header.ejs'); -%>
    <!-- <ul>
        <li>Yesha</li>
        <li>Vansh</li>
    </ul> -->
    <form>
        <div class="form-group col-lg-6">
            <label>Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
        </div>

        <div class="form-group col-lg-6">
            <label>First Name</label>
            <input type="text" class="form-control" placeholder="Enter First Name">
        </div>

        <div class="form-group col-lg-6">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Enter Last Name">
        </div>

        <div class="form-group col-lg-6">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left: 20px;">Register</button>
    </form>
</body>

</html>